<h1>Listing private_profiles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Address</th>
    <th>Age</th>
    <th>Gender</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @private_profiles.each do |private_profile| %>
  <tr>
    <td><%= private_profile.name %></td>
    <td><%= image_tag(private_profile.image) %></td>
    <td><%= private_profile.address %></td>
    <td><%= private_profile.age %></td>
    <td><%= private_profile.gender %></td>
    <td><%= link_to 'Show', private_profile %></td>
    <td><%= link_to 'Edit', edit_private_profile_path(private_profile) %></td>
    <% if current_user.admin? %>
        <td><%= link_to 'Destroy', private_profile, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if current_user.admin? %>
<%= link_to 'New Private profile', new_private_profile_path %>
<% end %>