<h1>Account manager</h1>
<%= notice %> <br/>
<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> <br/>

<% if current_user.private?%>
<%= link_to 'My private account', private_profiles_path, :class => 'navbar-link' %> <br/>
<% else %>
    <%= link_to 'Create private account', account_manager_create_private_path, :class => 'navbar-link' %> <br/>
<% end %>

<% if current_user.business? %>
<%= link_to 'My business account', business_profiles_path, :class => 'navbar-link' %> <br/>
<% else%>
    <%= link_to 'Create business account', account_manager_create_business_path, :class => 'navbar-link' %> <br/>
<% end %>


