<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @business_profile.name %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag(@business_profile.image) %>
</p>

<p>
  <b>Address:</b>
  <%= @business_profile.address %>
</p>

<p>
  <b>Url:</b>
  <%= link_to @business_profile.url %>
</p>
<%= render :template => 'products/index' %>
<% if current_user.business_id == @business_profile.id %>
<%= link_to 'Edit', edit_business_profile_path(@business_profile) %> |
    <% end %>
<%= link_to 'Back', business_profiles_path %>
