<h1>Listing orders</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User ID</th>
    <th>Address</th>
    <th>Email</th>
    <th>Pay type</th>
    <th>Total price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.name %></td>
    <td><%= order.customer_id %></td>
    <td><%= order.address %></td>
    <td><%= order.email %></td>
    <td><%= order.pay_type %></td>
    <td><%= order.total %></td>

    <td><%= link_to 'Show', order %></td>
    <% if current_user.admin? %>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, confirm: 'Are you sure?', method: :delete %></td>
        <% end %>
  </tr>
<% end %>
</table>
  <h4>Total price of products:</h4>
  <%= @orders.to_a.sum { |order| order.total} %>

<br />

<% if current_user.admin? %>
<%= link_to 'New Order', new_order_path %>
<% end %>
<p><%= will_paginate @orders %></p>