<!DOCTYPE html>
<html>
<head>
  <title>YAOS Store </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
	<div id="banner">

		<%= image_tag("logo.png") %>
		<%= @page_title || t('layouts.application.title') %>
	</div>
	<div id="columns">
		<div id="side">
      <!--authorized user section-->
      <% if user_signed_in? %>
          <h3 style="color: white">ava<br/> <strong><%= current_user.email %></strong></h3><br/>
          <%= link_to "Profile", account_manager_account_path%> <br/>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %><br/>
      <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> <br/>
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>

      <% end %>
      <!--if user is allowed to buy and cart exist(user logged in) -->
			<% if @cart && current_user.private? %>
			<%= hidden_div_if(@cart.line_items.empty?, :id => "cart") do %>
				<%= render @cart %>
			<% end %>
			<% end %>
			<a href="/"><%= t('.home')%> </a><br />
			<a href="http://www..."><%= t('.questions')%> </a><br />
			<a href="http://www..."><%= t('.news')%> </a><br />
			<a href="http://www..."><%= t('.contact')%> </a><br />
			<p style="color:white;"><%= Time.now.month %>/<%= Time.now.day %>/<%= Time.now.year %></p>
			<!--admin section-->
			<% if user_signed_in? && current_user.admin? %>
				<br />
				<%= link_to "Orders", orders_path %><br/>
				<%= link_to "Products", products_path %><br/>
				 <%= link_to "Users", admin_users_path %> <br />
				 <%= link_to "Requests", admin_account_request_path %> <br />
				 <%= link_to "Banners", admin_banners_path %> <br />
				 <%= link_to "News", admin_news_path %> <br />
				<% end %>
      <% if session[:user_id] %>
      <h1>userid</h1>
      <% end %>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>
